---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/locations/v1/cities/search?apikey=<api_token>&headers%5BContent-type%5D=application/json&params%5Bapikey%5D=<api_token>&params%5Bq%5D=St.Petersburg&q=St.Petersburg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '34'
      Akamai-Grn:
      - 0.0fe92d17.1675020489.760f5b34
    body:
      encoding: UTF-8
      string: '[{"Version":1,"Key":"295212","Type":"City","Rank":11,"LocalizedName":"Saint
        Petersburg","EnglishName":"Saint Petersburg","PrimaryPostalCode":"","Region":{"ID":"ASI","LocalizedName":"Asia","EnglishName":"Asia"},"Country":{"ID":"RU","LocalizedName":"Russia","EnglishName":"Russia"},"AdministrativeArea":{"ID":"SPE","LocalizedName":"Saint
        Petersburg","EnglishName":"Saint Petersburg","Level":1,"LocalizedType":"Federal
        City","EnglishType":"Federal City","CountryID":"RU"},"TimeZone":{"Code":"MSK","Name":"Europe/Moscow","GmtOffset":3.0,"IsDaylightSaving":false,"NextOffsetChange":null},"GeoPosition":{"Latitude":59.939,"Longitude":30.315,"Elevation":{"Metric":{"Value":10.0,"Unit":"m","UnitType":5},"Imperial":{"Value":32.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"Tsentralny","EnglishName":"Tsentralny"}],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","Alerts","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast","Radar"]},{"Version":1,"Key":"332287","Type":"City","Rank":45,"LocalizedName":"St.
        Petersburg","EnglishName":"St. Petersburg","PrimaryPostalCode":"33711","Region":{"ID":"NAM","LocalizedName":"North
        America","EnglishName":"North America"},"Country":{"ID":"US","LocalizedName":"United
        States","EnglishName":"United States"},"AdministrativeArea":{[...]
