---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/locations/v1/cities/search?apikey=<api_token>&headers%5BContent-type%5D=application/json&params%5Bapikey%5D=<api_token>&params%5Bq%5D=St.Petersburg&q=St.Petersburg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '45'
      Akamai-Grn:
      - 0.07e92d17.1675193558.f8651d9
    body:
      encoding: UTF-8
      string: '[{"Version":1,"Key":"295212","Type":"City","Rank":11,"LocalizedName":"Saint
        Petersburg","EnglishName":"Saint Petersburg","PrimaryPostalCode":"","Region":{"ID":"ASI","LocalizedName":"Asia","EnglishName":"Asia"},"Country":{"ID":"RU","LocalizedName":"Russia","EnglishName":"Russia"},"AdministrativeArea":{"ID":"SPE","LocalizedName":"Saint
        Petersburg","EnglishName":"Saint Petersburg","Level":1,"LocalizedType":"Federal
        City","EnglishType":"Federal City","CountryID":"RU"},"TimeZone":{"Code":"MSK","Name":"Europe/Moscow","GmtOffset":3.0,"IsDaylightSaving":false,"NextOffsetChange":null},"GeoPosition":{"Latitude":59.939,"Longitude":30.315,"Elevation":{"Metric":{"Value":10.0,"Unit":"m","UnitType":5},"Imperial":{"Value":32.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"Tsentralny","EnglishName":"Tsentralny"}],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","Alerts","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast","Radar"]},{"Version":1,"Key":"332287","Type":"City","Rank":45,"LocalizedName":"St.
        Petersburg","EnglishName":"St. Petersburg","PrimaryPostalCode":"33711","Region":{"ID":"NAM","LocalizedName":"North
        America","EnglishName":"North America"},"Country":{"ID":"US","LocalizedName":"United
        States","EnglishName":"United States"},"AdministrativeArea":{[...]
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/295212/historical/24?apikey=<api_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '44'
      Akamai-Grn:
      - 0.0de92d17.1675193559.68950cf4
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-01-31T21:58:00+03:00","EpochTime":1675191480,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":-1.0,"Unit":"C","UnitType":17},"Imperial":{"Value":30.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/saint-petersburg/295212/current-weather/295212?lang=en-us","Link":"http://www.accuweather.com/en/ru/saint-petersburg/295212/current-weather/295212?lang=en-us"},{"LocalObservationDateTime":"2023-01-31T20:58:00+03:00","EpochTime":1675187880,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":-1.0,"Unit":"C","UnitType":17},"Imperial":{"Value":30.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/saint-petersburg/295212/current-weather/295212?lang=en-us[...]
